# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.yarn/*

*.tsbuildinfo
.yarnrc.yml
public/image/delivery_1.svg
public/image/delivery_2.svg
public/image/marketing_2_0.png
public/image/marketing_2_1.png
vite.config.d.ts
vite.config.js
