@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-semibold;
    --spacing: 0.25rem /* 4px */;
    @apply text-white;
}

html{
    /* 
        Dynamic Font weighting range via viewport width
        https://utopia.fyi/type/calculator/?c=320,16,1.125,1920,19,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
     */
    font-size: clamp(1rem, 0.9625rem + 0.1875vw, 1.1875rem);
}

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
p {
    @apply text-base;
}

button{
    @apply transition-all duration-300;
    @apply hover:text-orange-500;
}

button:disabled{
    @apply hover:text-white;
}

/* Should text be visually selectable? */
/* ::selection{
    @apply text-inherit;
} */

.text-trim{
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
}